<div class="container">
  <div class="row">
      <% unless @restaurant_items.empty? %>
        <%= render partial: 'restaurants/partials/show_restaurant_items', collection: @restaurant_items, as: :item %>
      <% else %>
        <h4>This restaurant has no items!</h4>
      <% end %>
    </div>
</div>
