<h1>Categories</h1>
<div class="container">
  <div class="row">
    <% if @categories.nil? || @categories.empty? %>
      <h4>No categories to show!</h4>
    <% else %>
    <% @categories.each do |category| %>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= category.category_name %></h5>
              <%= link_to 'Show Category Items', category_path(category), class:'btn btn-primary' %>
            </div>
          </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>


